@model GoalSystemPrueba.Models.HomeViewModel
@using GoalSystemPrueba.Enum
@using GoalSystemPrueba.Dato;

<script>
	function agregarElemento() {
	}

	function quitarElemento() {
	}
</script>

<div id="Alta">
	<h3>Lista elementos</h3>
	@foreach (var elemento in DatosElementos.FuenteDatos)
	{
	<div>
		Nombre: @Html.Label(elemento.Nombre)
		Tipo: @Html.Label(elemento.Tipo.ToString())
		Fecha: @Html.Label(elemento.FechaCaducidad.ToString("dd/MM/yyyy"))
		Caduca: @Html.Label(elemento.Caducado.ToString())
	</div>
	}

</div>


<div id="Alta">
	<h3>Agregar Elemento</h3>
	Nombre: @Html.TextBox("Nombre", null, new { @class = "form-control" })
	Tipo: @Html.DropDownList("Tipo", EnumHelper.GetSelectList(typeof(TipoElementoEnum)) ,"Selecciona el tipo",new { @class = "form-control" })
	Fecha caducidad: @Html.TextBox("Fecha", null, new { @class = "form-control" })
	<br />
	<button onclick="agregarElemento()">Agregar elemento nuevo</button>
</div>

<div id="Baja">
	<h3>Eliminar Elemento</h3>
	Nombre: @Html.TextBox("NombreEliminar", null, new { @class = "form-control" })
	<br />
	<button onclick="quitarElmento()">Eliminar elemento</button>
</div>