@model GoalSystemPrueba.Models.HomeViewModel
@using GoalSystemPrueba.Enum

@Scripts.Render("~/bundles/JSHome")

@section scripts
{
	<script>
		$(function () {
			$('select').formSelect();
			$('.fecha').datepicker({ format: 'dd/mm/yyyy' });
		});
	</script>
}


	<div id="ListaElementos">
		<h4>Lista elementos en base</h4>
		@foreach (var elemento in Model.Datos)
		{
			<div>
				Nombre: @Html.Label(elemento.Nombre)
				Tipo: @Html.Label(elemento.Tipo.ToString())
				Fecha: @Html.Label(elemento.FechaCaducidad.ToString("dd/MM/yyyy"))
			</div>
		}

	</div>

<div id="Alta">
	<h4>Agregar Elemento</h4>
	Nombre: @Html.TextBox("Nombre", null)
	Tipo: @Html.DropDownList("Tipo", EnumHelper.GetSelectList(typeof(TipoElementoEnum)), "Selecciona el tipo")
	Fecha caducidad: @Html.TextBox("Fecha", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "fecha" })
	<br />	
	<a class="waves-effect waves-light btn" onclick="agregarElemento('@Url.Action("AgregarElemento", "Api/Elemento")')">Agregar elemento</a>
</div>

<div id="Baja">
	<h4>Eliminar Elemento</h4>
	Nombre: @Html.TextBox("NombreEliminar", null)
	<br />
	<a class="waves-effect waves-light btn" onclick="quitarElemento('@Url.Action("QuitarElemento", "Api/Elemento")')">Eliminar elemento</a>	
</div>
